body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  flex: 1;
}

ul {
  padding-left: 15px;
}

.footer {
  background-color: #222328;
  color: #737477;
  padding: 5px;
  font-size: 12px;
}

.main-logo {
  width: 35px;
  height: 23.5px;
}

.contact-us {
  background-color: #222328;
  color: lightgray;
  padding: 5px;
  margin-top: 10px;
  border-bottom: 1px solid #737477;
  font-size: 14px;
}

.logo-image-small {
  width: 15px;
  height: 15px;
  margin: 1px;
}

.logo-image {
  width: 20px;
  height: 20px;
  margin: 4px;
}

.site-container {
  min-height: 100vh;
}

.navbar img {
  margin: 0.5rem;
}

.small-container {
  max-width: 600px;
}

.img-large {
  width: 80%;
}

.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}

.checkout-steps > div.active {
  border-bottom: 0.2rem solid #f08000;
  color: #f08000;
}

.id-card {
  width: 470px;
  max-width: 470px;
  height: 275px;
  max-height: 275px;
  border-width: 2px;
  border-color: #faf9f6;
  border-radius: 15px;
  border-style: solid;
  display: inline-block;
}

.id-header {
  border-radius: 15px 15px 0px 0px;
  background-color: #faf9f6;
}

.id-title {
  color: red;
  font-size: 18px !important;
  font-weight: 900;
  margin: 0;
  padding: 0;
  text-align: center;
}

.id-title-info {
  color: blue;
  font-size: 11px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  text-align: center;
}

.id-sub-title {
  color: white;
  background-color: red;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
  font-weight: 600;
}

.id-body-info {
  color: black;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
}

.id-body-info2 {
  color: black;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
}

.id-photo {
  border: 1px solid red;
  width: 100px;
  max-width: 100px;
  height: 120px;
  max-height: 120px;
}

.id-footer {
  font-size: 10px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  text-align: center;
}

.id-para {
  word-wrap: break-word;
}

.phone-number::-webkit-inner-spin-button,
.phone-number::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
